server:
  port: ${PORT:10000}
  address: 0.0.0.0

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/project-Tracker}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: ${JWT_SECRET:Zx9!Lk@pQ2#nS8mVYtR5WcD1E7A4}
  expiration-ms: 86400000
  reset-expiration-ms: 900000

app:
  mail:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html